.app__quality{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    position: relative;
    width: 100%;
    background: rgba(5, 146, 18, 0.3);
    padding: 4rem 0 2rem;
    margin-top: -40px;
    border-radius: 0 0 50px 50px;
    z-index: 0;
}

@media screen and (max-width: 800px) {
    .app__quality{
        flex-wrap: wrap;
        row-gap: 2rem;
    }
}


